.main {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-left: 15%;
  width: 70%;
  margin-top: 2rem;
  min-height: 80vh;
  border: 1px solid #e0e0e0;
}
.side-bar {
  border-right: 1px solid #e0e0e0;
  display: grid;
}
.side-bar-top {
  display: grid;
  height: 20%;
  margin-bottom: 1rem;
  justify-content: center;
}

.side-bar-top img {
  width: 140px;
  height: 140px;
}

.side-bar-top label {
  font-weight: bold;
}
.side-bar-bottom {
  display: grid;
}
.side-bar-bottom li {
  font-weight: 500;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.side-bar-bottomClicked {
  font-weight: 500;
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: white;
  background-color: rgb(78, 77, 77);
}
.side-bar-bottom ul {
  list-style: none;
  padding: 0;
}
.side-bar-bottom li:hover {
  color: white;
  background-color: rgb(162, 160, 160);
}
.side-bar-bottom li span {
  margin-left: 1rem;
}
.profile {
  display: grid;
}
.profile-top {
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
}
.profile-top h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 2rem;
}
.profile-bottom {
  display: flex;
  padding: 1rem;
  align-items: center;
}
.profile-bottom form {
  margin-left: 8rem;
  display: grid;
  width: 70%;
  gap: 2rem;
}
.profile-bottom form label {
  font-size: 1rem;
  font-weight: bold;
}
.profile-bottom form input {
  height: 2.5rem;
  padding: 1.5rem;
  align-items: center;
  border: 1px solid black;
}
.profile-bottom form button {
  width: 20%;
  border-radius: 0;
}
.security {
  display: grid;
}
.security-top {
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
}

.security-top h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 8rem;
}
.security-bottom {
  display: flex;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}
.security-bottom form {
  margin-left: 8rem;
  display: grid;
  width: 70%;
  gap: 2rem;
}
.security-bottom form input {
  height: 2.5rem;
  padding: 1.5rem;
  align-items: center;
  border: 1px solid black;
}
.security-bottom form button {
  width: 20%;
  border-radius: 0;
}

.security-bottom-bottom {
  display: flex;
  padding: 1rem;
  align-items: center;
}
.security-bottom-bottom form {
  margin-left: 8rem;
  display: grid;
  width: 70%;
  gap: 2rem;
}
.security-bottom-bottom form input {
  height: 2.5rem;
  padding: 1.5rem;
  align-items: center;
  border: 1px solid black;
}
.security-bottom-bottom form button {
  width: 30%;
  border-radius: 0;
}
