.course {
  display: grid;
}
.mainTop {
  margin: 15px;
  height: 200px;
  display: grid;
}

.mainbottom {
  margin: 15px;
}
.h1main {
  size: 100px;
}

.star {
  color: goldenrod;
}
