/* .course {
  display: grid;
  background-color: bisque;
}
.mainTop {
  
    margin: 100px;
    height: 0px;
    display: grid;
    color: red;
    background-color: orange;
    font-size: 50px;
    justify-content: space-around;
}

.mainbottom {
  margin: 50px;
}
.h1main {
  margin: 50px;
}
.item{
  border-color: #000;
  border-style: double;
  margin: 10px;
  color: #000;
  font-size: 25px;
  margin-left: 10px;
  background-color: aqua;
}
.title{
  text-decoration :underline; 

}
.star {
  color: goldenrod;
}

.span{
  margin: 15px;
  font-size: 25px;
} */
