
 .course {
    display: grid;
    /* background-color: rgb(255, 255, 255); */
  }
  .ratingStars{
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 152pt;
  }
  .mainTop {
    background-color: rgb(0, 0, 0);
      margin: 5px;
      /* height: 0px; */
      display: grid;
      color: rgb(255, 255, 255);
      /* background-color: orange; */
      font-size: 50px;
      justify-content: space-around;
  }
  
  .mainbottom {
    margin: 50px;
  }
  .h1main {
    margin: 50px;
  }
  .item{
    /* border-color: #000;
    border-style: groove;
    border-width: 1px;*/
    margin: 10px; 
    color: #000;
    font-size: 25px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
  }
  .title{
    text-decoration :underline; 
  
  }
  .star {
    color: goldenrod;
  }
  
  .span{
    margin: 15px;
    font-size: 20px;
    margin: 10px; 
    color: #000;
    font-size: 20px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
  } 
  .bigDiv{
    border-color: #000;
    border-style: groove;
    border-width: -15px;
    margin: 1px;
  }
  .head{
    margin: -2px; 
    color: #000;
    font-size: 25px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
  }
  .subtitleItem{
    margin: -2px; 
    /* font-style: italic; */
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin-left: 0px;
    background-color: rgb(255, 255, 255);
    text-decoration: underline dashed;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 88vh;
  }
  
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  .Auth-label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }
.footForm{
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    padding-top: 10px;
    padding-left: 5px;
    margin-top: 5px;
}
.last {
    display:inline-flex;    
}
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}
.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}
.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

}
