.cards ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
}

.cards ul li {
    list-style: none;
    flex: 0 0 25%;
    padding-bottom: 8%;
}

.h1 {
    width: 80%;
    padding-left: 40%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}