.mainreg {
    display: flex;
    grid-template-columns: 20% 80%;
    min-height: 100vh;
    flex-direction: column;
  }
  .mainRight {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 3rem;
    gap: 25px;
  }

.mainLeft{
    display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 25px;
}