.mainreg {
  display: grid;
  grid-template-columns: 20%  80%;
}
.leftsection {
  flex: 2;
}
.rightsection {
  flex: 6;
}

.leftsection-top {
  height: 50px;
  display: grid;
  margin-top: 2rem;
  align-items: center;
  margin-left: 3rem;
}
.leftsection-title {
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0.25rem;
  color: black;
}
.leftsection-img {
  width: 10rem;
  height: 7rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}
.leftsection-subtitle {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  color: gray;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.leftsection-bottom{
    height: 50px;
    display: grid;
    margin-top: 10rem;
    font-size: 1rem;
    font-weight: bolder;
    margin-right: 2rem;
    align-items: center;
    justify-content: center;
}
.leftsection-bottom li{
    border-radius: 0.25rem;
    min-width: 15rem;
    min-height: 4rem;
    padding: 16px 10px 10px 10px;
}
.leftsection-bottom li:hover{
    background-color: #efdada; 

}
.leftsection-liclicked{
    border-radius: 0.25rem;
    min-width: 15rem;
    min-height: 4rem;
    padding: 10px 10px 10px 10px;
    border: 2px solid black ;
}