.card h1 {
  padding-left: 5%;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #a00407;
}

.button {
  background-color: #a00407;
}

.card {
  padding-left: 2%;
  margin-top: 2rem;
}

.mainRight {
  width: 70%;
}

.mainlabel {
  color: rgb(97, 94, 94);
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

@media screen and (max-width: 720px) {
  .mainRight {
    width: 100%;
  }
}
