.h1 {
    padding-left: 20%;
    padding-right: 5%;
    color: #A00407;
}

.button {
    background-color: #A00407;
}


.card {
    padding-left: 2%;
}

.mainlabel {
    color: rgb(97, 94, 94);
    font-size: 1.5rem;
    margin-top: 2rem;
}