.mainlabel {
  color: rgb(97, 94, 94);
  font-size: 1.5rem;
  margin-top: 2rem;
}
.mainRight {
  width: 80%;
  max-width: 700px;
  margin: 20px 0;
}
.subtitles {
  margin-top: 2rem;
  width: 80%;
  min-width: 400px;
}

.icon {
  font-size: small;
}
.subtitleView {
  background-color: inherit;
  color: #a00407;
  border: none;
}
.videoDesc {
  width: 80%;
  margin-top: 1rem;
}

.check {
  color: #a00407;
  justify-content: right;
}
.gradeBadge {
  background-color: #a00407 !important;
}
