.mainlabel{
    color: rgb(97, 94, 94);
    font-size: 1.5rem;
    margin-top: 2rem;
}
.mainRight{
    min-height: 220vh;
}
.mainRight-hr{
    height: 3px;
    background-color: #000;
    margin-top: 2rem;
}
.mainRight h1{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    color: rgb(33, 32, 32);
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.mainRight h3{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    color: rgb(33, 32, 32);
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.mainRight p {
    margin-left: 1rem;
    font-weight: bold;
}
.video{
    margin-left: 1rem;
}
.rating{
    margin-bottom: 2rem;
}
.progressbar{
    margin-top: 1rem;
    height: 1rem;
    width: 50rem;
}
.notFound{
    display: grid;
    align-items: center;
    justify-content: center;
}
.mainRight-rating{
    display: grid;
    align-items: center;
}
.mainRight-rating h3{
    font-size: 1.3rem;
    align-items: center;
    font-family: bolder;
    font-family: 'Open Sans', sans-serif;
}
.rating-box{
    display: grid;
    gap: 2rem;
    margin-bottom: 2rem;
}

.progress-left{
    display: flex;
    margin-left: 1rem;
}


