.mainlabel{
    color: rgb(97, 94, 94);
    font-size: 1.5rem;
    margin-top: 2rem;
}

.subtitles{
    margin-top: 2rem;
    width: 80%;
}


.icon{
    font-size: small;
}
.subtitleView{
    background-color: white;
    color: #a00407    ;
    border: none;
}
.videoDesc{
    width: 80%;
    margin-top: 1rem;
}