.course-list {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px ; 
  grid-gap: 20px 20px;
  margin-left: 20px;

}
.Explore{
  margin-left:2rem;
  margin-top: 5rem;
}
.Explore h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left:5rem;
}
.item{
  justify-content: center;
}
.carousel{
  width: 1380px;
  margin-left: 5rem;
}
