.filter {
  flex: 2;
  margin-left: 1.5rem;
  margin-top: 10rem;
}
.top {
  height: 50px;
  display: grid;
  align-items: center;
}
.logo {
  width: 50%;
  margin-left: 4rem;
  border-radius: 0.25rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem;
  background-color: white ;
  border: 0.5px solid rgb(111, 109, 109);
}
.logo:hover {
  background-color: rgba(208, 236, 242, 0.379);
}
.filter-button {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.8rem;
  margin: 0 -0.4rem;
}
.inpt{
  width:5rem;
  margin-right: 1rem;
}
.check{
  margin-top: 0.4rem;
}