@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.Wrapper{
    min-height: 50rem;
}
.courses{
    margin-left: 10rem;
    margin-top: 2rem;
}
.main-section{
    background-color: rgb(111, 111, 111);
    width: 100%;
    display: flex;
    padding: 3rem;
}
.main-section h1{
    font-family: 'Abril Fatface';
    font-size: 2.5rem;
    color: white;
    margin-left: 10rem;

}
.main-btn{
    border: none;
    background-color: #a00407;
    border-radius: 0.2rem;
    padding: 0.5rem;
    color: white;
}
.main-btn:hover{
    background-color: #670204;
}