.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-height: 70px;
  padding: 10px 3rem;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: rgb(0 0 0 / 16%) 0px 0px 6px;
}
.headerTitle {
  color: #373a3c;
  max-height: 50px;
  margin-right: 30px;
  width: 150px;
}

.links{
  margin-left: auto;
  color: black;
  margin-right: 1rem;
  text-decoration: none;
  padding: 6px;
}

.links:hover {
  color:  rgb(0, 65, 158);
}
.inpt {
  border: 0px;
  margin: 10px 20px 10px 10px;
  background-color: #f7f9fa;
  display: inline-block;
  outline: none;
  flex-grow: 1;
}

.search-bar {
  border-radius: 9999px;
  background-color: #f7f9fa;
  flex-grow: 1;
  border: 1px solid #1c1d1f;
  display: flex;
  margin-left: 10px;
}

.search-icon {
  margin: 15px 0 0 15px;
  cursor: pointer;
}
.dropUser{
  position: relative;
  margin-right: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

