.navbarSub {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 200px;
  border-bottom: 1px solid #f2f2f2;
}
.mainSection{
  padding: 60px 200px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#1c1d1f; 
  background-position:center ;
}
.mainImage{
  width: 160px;
  margin-left: 50%;
}
.mainSection h2{
  color: #fff;
  font-size: 2em;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

.Inprogress{
  background-color: white;
  color: black;
  margin-left: 5rem;
  border: none;
  border-bottom: 5px solid  rgba(192,4,24,255);
}
.notPressed{
  background-color: white;
  color: black;
  margin-left: 5rem;
  border: none;
}
.notPressed:hover {
  border-bottom: 5px solid rgba(192,4,24,255); ;
}
.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #e2e2e2;
  color: black;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button.collapsed {
  color: #ffffff;
  color: black;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}