.home{
   display: flex;
   flex-direction: column;
   margin-top: 0.1rem;
}
.navbarSub {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 200px;
  border-bottom: 1px solid #f2f2f2;
}
.smallNav {
  display: flex;
  align-items: center;
  max-height: 70px;
  width: 80%;
  margin-left: 10%;
  border-bottom: 1px solid #f2f2f2;
  padding: 0.3rem 1rem;
}
.thumbnail{
    margin-left: 20rem;
}
.Inprogress{
  background-color: white;
  color: black;
  margin-left: 5rem;
  border: none;
  border-bottom: 5px solid  rgba(192,4,24,255);
}
.notPressed{
  background-color: white;
  color: black;
  margin-left: 5rem;
  border: none;
}
.notPressed:hover {
  border-bottom: 5px solid rgba(192,4,24,255); ;
}
.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #e2e2e2;
  color: black;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button.collapsed {
  color: #ffffff;
  color: black;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #363636;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top:30%;
  transform: translateY(-50%);
}

