.home {
  width: 100%;
  display: inline-block;
}
.navbarSub {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 200px;
  border-bottom: 1px solid #f2f2f2;
}
.mainSection{
  padding: 100px 200px;
  width: 100%;
  min-height: 45vh;
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-color:#1c1d1f;
  background-position:center ;
}
.mainImage{
  width: 200px;
  margin-left: 50%;
}
.mainSection h2{
  color: #fff;
  font-size: 2em;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

.Inprogress{
  background-color: white;
  color: black;
  margin-left: 5rem;
  border: none;
  border-bottom: 5px solid  rgba(192,4,24,255); ;
}
.notPressed{
  background-color: white;
  color: black;
  margin-left: 5rem;
  border: none;
}
.notPressed:hover {
  border-bottom: 5px solid rgba(192,4,24,255); ;
}
.middle{
  background-color: rgba(241, 250, 252, 0.379);
}