button{
background-color: #ff6529;
color: white;
}
.guestContainer{
    margin-left: 40%;
    margin-top: 30vh;
}
.guestButtons{
    margin: 0 10px;
    height: 60px;
    border-width: 0;
    border-radius: 10%;

}