.admin-navbar {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
  padding: 10px 3rem;
}
.logOut {
  background-color: inherit;
  border: 0;
  font-weight: bold;
  margin-left: auto;
  }
.admin-navbar p{
  font-weight: bold;
}