.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;
}
.top {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 20px;
  font-weight: bold;
  margin-right: 8px;
  color: teal;
}

hr {
  height: 0;
  border: 0.5px solid rgb(230, 227, 227);
}
.center {
  padding-left: 10px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main {
  font-size: 15px;
  font-weight: bold;
  color: #999;
  margin-top: 15px;
  margin-bottom: 5px;
}
li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  
}
li:hover{
    background-color: #ece8ff;
}
  span{
    font-size: 13px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
    margin-bottom: 2px;
}
.spam{
    font-size: 13px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
    margin-bottom: 2px;
}