.sidebar {
  flex: 1.3;
  border-right: 0.5px solid rgb(230, 227, 227);
  align-items: center;
  min-height: 100vh;
  background-color: white;
}
.top {
  height: 50px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.hr {
  height: 0;
  border: 0.5px solid rgb(230, 227, 227);
}
.center {
  margin-top: 2rem;
  display: grid;
  justify-items: center;
  width: 80%;
}
.ul {
  list-style: none;
  width: 100%;
}
.main {
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  background-color:rgb(241, 241, 249);
}
.center li {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  
}
.center li:hover{
   color: rgb(66, 104, 246);
}
 .center li span{
    font-size: 13px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-bottom: 2px;
}
.center li span:hover{
  color: rgb(66, 104, 246);
}
.spam{
    font-size: 13px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
    margin-bottom: 2px;
}