.inpt {
  border: 0px;
  margin: 10px 20px 10px 10px;
  background-color: #f7f9fa;
  display: inline-block;
  outline: none;
}

.search-bar {
  border-radius: 0.5rem;
  background-color: #f7f9fa;
  border: 1px solid #1c1d1f;
  display: flex;
  margin-top: 10px;
}

.search-icon {
  margin: 15px 0 0 15px;
  cursor: pointer;
}

.promo-container {
  display: flex;
}

.misc {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
}

.setPromotion {
  margin-top: 40px;
  padding: 10px;
  border: 0.5px solid rgb(111, 109, 109);



}

@media only screen and (max-width: 1140px) {
  .promo-container {
    flex-direction: column;
  }

  .misc {
    display: flex;
    gap: 30px;
  }

  .setPromotion {
    margin: 0;
    max-width: 50%;
    gap: 2rem;
  }
}
