.Wrapper{
  padding-top: 2.5rem;
  margin-left: 16rem;
  min-height: 60rem;
}
.Wrapper_h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: white;
  background-color: #1c1d1f;
  overflow: hidden;
  padding: 0.6rem;
  text-align: center;
  max-width: 180px;
}
.Wrapper-top{
 display: grid;
 grid-template-columns: 500px 250px;
 gap: 40px  ;
}
.span {
  font-size: 15px;
  color: black;
  margin-left: 1px;
}

.checkbox {
  width: 20px;
  height: 17px;
  margin-left: 20px;
  padding-top: 10px;
  margin-bottom: 0;
}
.searchIcon{
  margin: 0px 0 0 3px;
  cursor: pointer;
  padding: 0.5rem;
}
.inpt{
  border: 0px;
  padding: 0.5rem;
  margin: 0px 20px 0px 10px;
  background-color: #f7f9fa;
  display: inline-block;
  outline: none;
}
.search-bar{
  border-radius: 0.25rem;
  background-color: #f7f9fa;
  border: 1px solid #1c1d1f;
  display: flex;
  margin-top: 2rem;
  margin-left: 10px;
}
.Wrapper-filter{
  display: grid;
  grid-template-columns: 120px 120px ;
  gap: 9rem;
}
.Wrapper-top label{
  margin-bottom: 1rem;
}